<div id="wrapper">
    <div class="jumbotron">
        <h1>Super Mongo Scraper</h1>
        <h2>The Sports Edition</h2>
        <h3>Your saved articles</h2>

            <form action="/">
                <button id="allArticles">View all articles</button>
            </form>
    </div>
    <div class="articles">
        {{#each articles}}
        <div class="article">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">
                <img src="{{image}}" alt={{title}}>
            </div>
            <div class="card-footer">
                <a class="links" href={{link}}>View Article</a>
                <button class="btnInLine deleter" id={{_id}}>Delete Article</button>
                <button class="btnInLine noter" id={{_id}}>View Notes</button>
            </div>
        </div>

        <div class="notes">
            <div id={{_id}} class="notes-modal">
                <div class="modal-content">
                    <div class="container">
                        <p>{{notes}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>