<div id="wrapper">
    <div class="jumbotron">
        <h1>Super Scraper</h1>
        <h2>Sports Edition</h2>
        <h3>Your saved articles</h2>
            
            <form action="/">
                <button id="allArticles">View all articles</button>
            </form>
    </div>
   <div class="articles">
        {{#each articles}}
        <div class="article">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">
                <img src="{{image}}" alt={{title}}>
            </div>
            <div class="card-footer">
                <a href={{link}}>View Article</a>
                <button class="deleter" id={{_id}}>Delete Article</button>
                <button class="noter" id={{_id}}>View Notes</button>
            </div>
        </div>
        {{/each}}
    </div>
        <div class="notes"></div>

</div>